    
    footer ul, nav ul
    
        {list-style: none; display: flex; justify-content: space-around; flex-flow: row wrap;}   
    
    /*PADDING ADDED TO THE "BOX" OR SECTION AND EVERYTHING GETS APPLIED TO SAID BOX. WHEN ADDING PADDING, CONSIDER WHAT IT IS THAT I AM TRYING TO MOVE. PADDING INCREASES ODJECT WITHIN A BOX, MARGIN SEPARATES EACH BOX*/
    nav ul {margin: 0 0 0 3em; /*top, right, bottom, left*/
    
    }
nav li   
{flex: 1 0 6em;
        
    }

    ul, 
    li, 
    a 
        {font-size: 1.1em;}

    h1
    
        {color: black/*#B54B00*/;
        font-family: "Herculanum", "Alhambra", sans-serif; font-size: 5vw;/*USE A DIFFERENT FONT FOR HEADLINES AND BODY*/align-items: center;}   
    p 
        {font-size:2.5vw;
        }

/*SPECIFICS TO ONE*/
  
    body 
        {background-color: #3A6691;
        margin-bottom:  1em;} /* Med Light Blue*/
   
    nav 
        { 
            background-color: #073F75; 
            margin-top: -5.5em;
            line-height: 4.5em; 
            
        }
                
                
            
            /* Dark Blue*/
    
    a 
        {color: 
            aquamarine/*#DB4D54*/; 
            margin-top: -.5em; 
            margin-left: 2em; 
            
            }  /*For Text-Light Pink*/
    a:hover {color: green;}
    
    img 
        {max-width: 100%;}
    
    footer {background-color: bisque; height: 5em; align-items: center;}

    li
        {margin-left: .5em; }


/*IDs*/  
  
    #top-row, 
    #middle-row
        {display:flex;
        flex-flow: row wrap;
        align-items: center;} 
   
        
    #logo 
        {background-color: white; width: 7em; position: relative; border-style: solid;
        }

    #banner 
        {width:100%; margin-top: 1em; 
        }
    #bannerimg, #image, #image2
        {width:100%;
        }
   

    
    
/*CLASSES*/
   
    .right_col,
    .left_col 
        {width:50%; 
            flex: 1 0 15em; 
            margin:.5em;}
  /*  .fb,
    .pin,
    .yt
        {width: 100%; 
            display: flex; 
            flex-direction:row;
    }
    */