    
    footer, 
    ul,
    li 
        {list-style: none; display: flex; flex: 1 0 6em; justify-content: space-around; flex-flow: row wrap;}   
    
    /*PADDING ADDED TO THE "BOX" OR SECTION AND EVERYTHING GETS APPLIED TO SAID BOX. WHEN ADDING PADDING, CONSIDER WHAT IT IS THAT I AM TRYING TO MOVE. PADDING INCREASES ODJECT WITHIN A BOX, MARGIN SEPARATES EACH BOX*/
    
   
    ul, 
    li, 
    a 
        {font-size: 1.1em;}

    h1
    
        {color: black/*#B54B00*/;
        font-family: "Herculanum", "Alhambra", sans-serif; /*USE A DIFFERENT FONT FOR HEADLINES AND BODY*/align-items: center;}   


/*SPECIFICS TO ONE*/
  
    body 
        {background-color: #3A6691;
        margin-bottom:  1em;} /* Med Light Blue*/
   
    nav 
        {background-color: #073F75; margin-left: .5em; margin-right: -.5em; height: 4.5em;} /* Dark Blue*/
    
    a 
        {color: aquamarine/*#DB4D54*/; margin-top: -.5em; margin-left: 1em; padding: .1em;}  /*For Text-Light Pink*/
    a:hover {color: green;}
    
    img 
        {max-width: 100%;}
    
    footer {background-color: bisque; height: 55px; align-items: center;}

    li
        {margin-right: .5em; }
    

/*IDs*/  
  
    #top-row, 
    #middle-row
        {display:flex;
        flex-flow: row wrap;
        align-items: center;} 
   
        
    #logo 
        {background-color: lightcyan; width: 7em;}

    #banner 
        {width:100%; margin: .5em;}

    
    
/*CLASSES*/
   
    .right_col, 
    .left_col 
        {width:40%; flex: 1 0 15em; margin:.5em;}
  
    